$text-size-small: 14px;
$text-size-regular: 16px;
$text-size-medium: 20px;
$text-size-large: 24px;
$text-size-extra-large: 32px;

$heading-size-small: 32px;
$heading-size-regular: 48px;
$heading-size-medium: 64px;
$heading-size-large: 80px;

$text-weight-light: 300;
$text-weight-regular: 400;
$text-weight-medium: 500;
$text-weight-bold: 700;

