@use '../variables';

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;

  .project-name {
    font-size: 32px;
    font-weight: 900;
    margin: 0;
    padding: 0;
  }

  nav {
    display: inline-block;

    .menu-icon {
      display: none;
      background: none;
      border: none;
      cursor: pointer;
      padding: 4px;
      width: auto;

      img {
        width: 30px;
        height: 30px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        margin-right: 48px;

        &:last-child {
          margin-right: 0;

          button {
            background-color: #d9d9d9;
            border-radius: 12px;
            padding: 8px 32px 8px 16px;
            border: none;
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 4px;
            width: fit-content;
            cursor: pointer;

            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    display: inline-block;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 0 32px;

    nav {
      .menu {
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: calc(100vh - 100px);
        background-color: white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 20px;
        z-index: 1000;
        overflow-y: auto;
  
        li {
          margin-right: 0;
          margin-bottom: 16px;
  
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
  
      .menu-icon {
        display: inline-block;
      }
    }
  
    .menu.open {
      display: flex;
    }
  }
}