.marketplace {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }

  .filter-div {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: end;

    .sort {
      padding: 12px 20px;
      display: flex;
      border: 1px solid rgb(193, 193, 193);
      width: fit-content;
      align-items: center;
      border-radius: 8px;
      gap: 4px;
      cursor: pointer;
      p {
      }

      img {
      }
    }
    .icons {
      display: flex;
      gap: 12px;
      .icon {
        margin: 0;
        padding: 8px;
        border: 1px solid rgb(193, 193, 193);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
  
        img {
          color: rgb(193, 193, 193);
        }
      }
    }
    
  }
}

@media (max-width: 576px) {
  .marketplace {
    .filter-div {
      flex-direction: column;
      align-items: start;
    }

  }
}
