.marketplace {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-height: calc(100vh - 100px - 287px);

  .card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;

    &.row {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }

  .filter-div {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: end;

    .sort {
      padding: 12px 20px;
      display: flex;
      border: 1px solid rgb(193, 193, 193);
      width: fit-content;
      align-items: center;
      border-radius: 8px;
      gap: 4px;
      cursor: pointer;
      p {
      }

      img {
      }
    }
    .icons {
      display: flex;
      gap: 12px;

      .icon {
        margin: 0;
        padding: 8px;
        border: 1px solid rgb(193, 193, 193);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;

        &.active {
          border: 1px solid rgb(78, 78, 78);
        }
  
        img {
          color: rgb(193, 193, 193);
        }
      }
    }
    
  }
}

@media (max-width: 576px) {
  .marketplace {
    .filter-div {
      flex-direction: column;
      align-items: start;
    }

  }
}
